auth_url: http://{{ hostvars[groups['database'][0]]['internal_ip']['stdout'] }}:5000
username: admin
password: {{ tacker_admin_password }}
project_name: {{ tacker_project_name }}
project_domain_name: default
user_domain_name: default
project_domain_name: default
user_domain_name: default
